@media(max-width:576px) {
    .carousel .img-overlay {
        display: none;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
    }

    .contact .input-block h4 {
        text-align: center;
    }

    .contact input {
        width: 100%;
    }

    .contact .btn {
        width: 50%;
        height: 15%;
        margin-bottom: 60px;
    }
}

@media(max-width:768px) {
    .menu-bar nav a {
        font-size: 14px
    }
}

@media (max-width:992px) {
    .my-nav .navbar-collapse{
        background-color:rgba(0,0,0,0.4);
        transition: all .5s ease-in;

    }
    .my-nav .nav-link {
     margin:10px 50%;
     border-radius:5px;
    
    }
   
    .contact .address-block {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact .address-block h4 {
        font-size: 50px;

    }

    .contact .address-block h5 {
        font-size: 30px;

    }

    .contact .address-block span {
        font-size: 24px;

    }

    .contact .address-block ul {
        font-size: 22px;
        line-height: 30px;
    }
   
}

@media(max-width:1300px) {
    .about-blog {
        width: 300px;
    }
  
}
